---
import '../styles/global.css';
import Footer from '../components/Footer.astro';
import Navbar from '../components/Navbar.astro';
const { content } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{content.title}</title>
		<script src="/glitchBackground.js" defer></script>
	</head>
	<body class="flex flex-col min-h-screen">
		<canvas id="background-canvas"></canvas>
		<!-- <Navbar /> -->
		<main class="flex-grow pt-16">
			<slot />
		</main>
		<Footer />
	</body>
</html>
